.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input {
  width: 250px;
  padding: 5px;
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  margin: 5px;
  padding: 5px;
  background: purple;
  color: white;
}
